html
	head
		title BestBooks
		
	body
		include ../partials/header
		div(class="container")
			h1(class="center") Welcome to BestBooks
			p(class="center") Search a book by typing it's title, ISBN, genre or author name
			div(class="center")
				input(type="text" id="searchBar" placeholder="What are you looking for?")
				button(type="submit" value="Search" onclick="searchLibrary()" class="btn-floating btn-small waves-effect waves-light pink")
					i(class="material-icons") search
		
		h4(class="center") Our Library :
			br
			div(id="library" class="center container")
				table(class="highlight")
					thead
						tr
							th Title
							th Author
		
					tbody
						each b in books	
							tr
								td
									a(href="http://localhost:3000/books/" + b.isbn target="_blank" class="black-text")
										|!{b.title}
								td
									a(href="http://localhost:3000/books/" + b.isbn target="_blank" class="black-text")
										|!{b.author}
					
		script(src="/js/default.js")
